<h1>New Opening</h1>

<%= form_with model: @opening do |x| %>
    <div class="section">
        <table>
            <tbody>
                <tr>
                    <td>Manager First Name</td>
                    <td><%= x.text_field :firstname %></td>
                    <td>Manager Last Name</td>
                    <td><%= x.text_field :lastname %></td>
                </tr>
                <tr>
                    <td>Position Type</td>
                    <td><%= x.select :position, @jobtype, {include_blank: "", selected: ""} %></td>
                    <td>Level</td>
                    <td>
                        <%= x.select(:level, @level, { include_hidden: false },
                            { :multiple => true, :size => @level.length }
                        ) %>
                </tr>
                <tr>
                    <td>Qualifications</td>
                    <td colspan=3><%= x.text_area :qualification, :size => 5 %></td>
                </tr>
            </tbody>
        </table>
    </div>

    <%= button_tag "Cancel", :type => "submit", name: "cancel", class: "action" %>
    <%= x.submit "Submit", class: "action program", data: { confirm: "You will not be able to edit this entry upon submission. Are you sure you want to submit?"} %>
    <%= x.submit "Save as Draft", class: "action draft" %>
<% end %>

