<h1>Editing Designation</h1>

<%= form_with model: @designation do |x| %>
    <div class="section">
        <table>
            <tbody>
                <tr>
                    <td>Actuarial Code</td>
                    <td><%= x.text_field :code %></td>
                    <td>Actuarial Designation</td>
                    <td><%= x.text_field :designation %></td>
                </tr>
            </tbody>
        </table>
    </div>

    <%= button_tag "Cancel", :type => "submit", name: "cancel", class: "action" %>
    <%= x.submit "Save", class: "action program" %>
<% end %>
