<h1>Actuarial Designations</h1>

<%= button_to 'New Designation', new_designation_path, :method => "get", class: "action", id: "new" %>
<table class="full-list">
  <thead>
    <tr>
      <th>Actuarial Code</th>
      <th>Actuarial Designation</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @designations.each do |designation| %>
      <tr>
        <td><%= designation.code %></td>
        <td><%= designation.designation %>
        <td>
          <%= button_to "View", designation_path(designation.code), :method => "get", class: "action", id: "view" %>
          <%= button_to "Edit", edit_designation_path(designation.code), :method => "get", class: "action", id: "edit" %>
          <%= button_to "Delete", designation_path(designation.code), method: :delete, data: { confirm: 'Are you sure you want to delete ' + designation.designation + '?' }, class: "action", id: "delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>