<%= stylesheet_link_tag "participants" %>
<h1>Employee List</h1>

<%= button_to 'New Employee', new_participant_path, :method => "get", class: "action", id: "new" %>
<table class="full-list">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Actuarial Designation</th>
      <th>Job Title</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td>
          <%= participant.lastname + ', ' + participant.firstname %>
        </td>
        <td><%= participant.designation.designation %></td>
        <td><%= participant.title %></td>
        <td>
          <%= button_to "View", participant_path(participant.geid), :method => "get", class: "action", id: "view" %>
          <%= button_to "Edit", edit_participant_path(participant.geid), :method => "get", class: "action", id: "edit" %>
          <%= button_to "Delete", participant_path(participant.geid), method: :delete, data: { confirm: 'Are you sure you want to delete ' + participant.firstname + ' ' + participant.lastname + '?' }, class: "action", id: "delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
